@import url('../bower/normalize-css/normalize.css');
#editor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #111;
}
#editor #options-panel {
  position: absolute;
  height: 100%;
  width: 300px;
  right: 0;
  top: 0;
  background: #333;
}
#editor #node-graph svg .node.selected {
  stroke: cyan;
}
#editor #node-graph svg .node.hover {
  stroke: blue;
}
#editor #node-graph svg .node .terminal:hover {
  fill: cyan;
}
